body {
    margin: 10px;
    margin-left: 250px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    line-height: 1.8em;
    color: black;
    letter-spacing: 0.03em;
}

p {
    font-weight: 250;
    color: #333333;
    justify-content: center;
    display: block;
}

.p_intro {
    /* padding-left: 20px; */
}

.p_intro_text{
/* display: inline-block; */
}

.intro_icon {
display: inline-block;
padding-right: 5px;
}

.body-link {
    font-weight: bold;
    text-decoration: none;
}

.body-link:visited {
    text-decoration: none;
    color: black;
}

.container {
    padding: 40px;
    padding-top: 5px;
    max-width: 800px;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 40px;
    margin-top: 30px;
    max-width: 500px;
    text-align: center;
}

.left {
    display: flex;
    position: relative;
    padding-top: 15px;
}

.navigation-wrapper > .left > div {
    margin-right: 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .05em; 
    line-height: 1em;
}

.nav-link-wrapper {
    height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.nav-link-wrapper a {
    color: #979696;
    text-decoration: none;
    transition: color .5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    border-bottom: black;
    color: black;
}

.nav-link-wrapper .active {
    border-bottom: black;
    color: black;
}

.right {
    font-weight: 800;
    font-size: 30px;
    padding: 0px;
    color: black;
}

.title {
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'saira', sans-serif;
}

.code-block {
    color: white;
    background-color: grey;
    line-height: 1em;
    width: 775px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
}

li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 0.03em;
    font-weight: 250;
    color: #333333;
}

.project-sub-section {
    font-weight: 250;
    color: #333333;
    justify-content: center;
    display: block;
    line-height: 2em;
}

.post {
    max-width: 800px;
}

.post-title {
    font-weight: 250;
    color: #333333;
    justify-content: center;
    display: inline-block;
    /* padding-right: 10px; */
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
    text-decoration: none;
}

.post-date {
    display: inline-block;
    font-size: 12px;
    color: grey;
    font-weight: 300;
    font-family: 'saira', sans-serif;
    padding-left: 10px;
    text-decoration: none;
}

.post-w-date {
    padding-top: 3px;
    transition: border-bottom .5s;
    text-decoration: none;
}

.post-title:hover {
    border-bottom: 1px solid black;
}

.heading {
    text-align: center;
    padding-bottom:10px;
}